:root {
    --background-color:rgb(230, 230, 230);
    --text-color: black;
    --primary-color: rgb(220, 56, 50);
    --primary-hover: rgb(173, 46, 42);
}
[data-theme="dark"] {
    --background-color: rgb(51, 51, 51);
    --text-color: rgb(204, 204, 204);
    --primary-color: rgb(235, 151, 62);
    --primary-hover: rgb(172, 111, 45);
}

* {
    transition: color .5s linear;
    transition: background-color .5s linear;
}

body{
    background-color: var(--background-color);
    margin: 0px;
    font-family: 'Bariol Regular', sans-serif;
}

header {
    margin: 20px 30px 50px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.2em;
}

#logo {
    margin: 0px;
}
#logo a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 100;
    color: var(--text-color);
}
#logo a:visited {
    color: var(--text-color);
}

.navlink {
    color: var(--text-color);
    font-size: 1.5em;
    text-decoration: none;
}
.navlink:hover {
    color: var(--primary-color);
}

#style-modes i {
    color: var(--text-color);
}
#style-modes i:hover {
    cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.poster {
    background-color: rgb(135, 139, 187);
    height: 525px;
    width: 406px;
    margin: 25px;
}

.overlay {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 525px;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    visibility: hidden;
    opacity: 0%;
    transition: visibility .2s linear;
    transition: opacity .2s linear;
}
.overlay:hover{
    cursor: pointer;
}

.poster-details {
    display: none;
    position: fixed;
    width: 84%;
    height: 84%;
    top: 8%;
    left: 8%;
    margin: auto;
    background-color: rgba(0, 0, 0, .75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    color: white;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.close:hover {
    cursor: pointer;
    color: var(--primary-color)
}
.template {
    height: 95%;
    margin-left: 20px;
    background-color: rgb(135, 139, 187);
    align-self: center;
}
.poster-title {
    padding-left: 10%;
    padding-top: 5%;
    margin: 0px;
}
.poster-date {
    padding-left: 10%;
    font-size: .9em; 
    margin: 0px;
}
.poster-description {
    margin-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
}