:root {
    --background-color:rgb(240, 240, 240);
    --text-color: black;
    --primary-color: rgb(230, 57, 70);
    --primary-hover: rgb(200, 38, 57);
}
[data-theme="dark"] {
    --background-color: rgb(51, 51, 51);
    --text-color: rgb(204, 204, 204);
    --primary-color: rgb(255, 133, 58);
    --primary-hover: rgb(222, 107, 72);
}

body{
    background-color: var(--background-color);
    margin: 0px;
    font-family: 'Bariol Regular', sans-serif;
}

header {
    margin: 20px 30px 50px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.2em;
}

* {
    font-family: 'Bariol Regular', sans-serif;
}

a {
    color: var(--text-color);
}

::-moz-selection {
  color: white;
  background: var(--primary-color);
}

::selection {
  color: white;
  background: var(--primary-color);
}

#logo {
    margin: 0;
}

#logo img {
    display: block;
    height: 38px;
    margin-left: 2px;
}

.navlink {
    color: var(--text-color);
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 10px;
}
.navlink:visited {
    color: var(--text-color);
}
.navlink:hover, .active, .active:visited {
    color: var(--primary-color);
}

#logout {
    display: block;
    text-align: right;
    text-decoration: underline;
    font-size: .75em;
}

#style-modes {
    margin-top: -18px;
    color: var(--text-color);
}
#style-modes i:hover {
    cursor: pointer;
}

#posters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.poster-container {
    min-width: 30%;
    margin: 10px;
}
.poster {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 406px;
    margin: auto;
    color: var(--text-color);
}
.image {
    width: 100%;
    height: 525px;
}
.poster-description {
    width: 100%;
}
.poster-takedown {
    width: 100%;
}
.info {
    margin: 5px 0;
}
.poster button {
    color: var(--primary-color);
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    text-align: center;
    margin-top: 25px;
    width: 60px;
    height: 35px;
    transition: none;
    margin-bottom: 30px;
    font-size: 1em;
}
.poster button:hover {
    color: white;
    cursor: pointer;
    background-color: var(--primary-hover);
    border: 2px solid var(--primary-hover);
}

button:focus {
    outline: none;
}


.edit-title, label, textarea {
    width: 100%;
    margin-top: 10px;
}
input {
    height: 20px;
}
input, textarea {
    font-size: .9em;
}
