:root {
    --background-color:rgb(230, 230, 230);
    --text-color: black;
    --primary-color: rgb(220, 56, 50);
    --primary-hover: rgb(173, 46, 42);
}
[data-theme="dark"] {
    --background-color: rgb(51, 51, 51);
    --text-color: rgb(204, 204, 204);
    --primary-color: rgb(235, 151, 62);
    --primary-hover: rgb(172, 111, 45);
}

* {
    transition: color .5s linear;
    transition: background-color .5s linear;
}

body{
    background-color: var(--background-color);
    margin: 0px;
    font-family: 'Bariol Regular', sans-serif;
}

header {
    margin: 20px 30px 50px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.2em;
}

#logo {
    margin: 0px;
}
#logo a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 100;
    color: var(--text-color);
}
#logo a:visited {
    color: var(--text-color);
}

.navlink {
    color: var(--text-color);
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 10px;
}
.navlink:visited {
    color: var(--text-color);
}
.navlink:hover, .active, .active:visited {
    color: var(--primary-color);
}

#logout {
    display: block;
    text-align: right;
    text-decoration: underline;
    font-size: .75em;
}

#style-modes i {
    color: var(--text-color);
}
#style-modes i:hover {
    cursor: pointer;
}

#posters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.poster-container {
    min-width: 30%;
    margin: 10px;
}
.poster {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 4.25in;
    margin: auto;
    color: var(--text-color);
}
.test-image {
    width: 100%;
    height: 5.5in;
    background-color: rgb(114, 114, 114);
}
.poster-description {
    width: 100%;
}
.poster button {
    color: white;
    background-color: var(--primary-color);
    border: none;
    text-align: center;
    width: 50px;
    height: 25px;
    transition: none;
}
.poster button:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
}