:root {
    --background-color:rgb(240, 240, 240);
    --text-color: black;
    --primary-color: rgb(230, 57, 70);
    --primary-hover: rgb(200, 38, 57);
}
[data-theme="dark"] {
    --background-color: rgb(51, 51, 51);
    --text-color: rgb(204, 204, 204);
    --primary-color: rgb(255, 133, 58);
    --primary-hover: rgb(222, 107, 72);
}

body{
    background-color: var(--background-color);
    margin: 0px;
    font-family: 'Bariol Regular', sans-serif;
}

header {
    margin: 20px 30px 50px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 2em;
    font-size: 1.2em;
}

a {
    color: var(--text-color);
}

#logo {
    margin: 0;
}

#logo img {
    display: block;
    height: 100%;
    margin-left: 2px;
}

.navlink {
    color: var(--text-color);
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 10px;
}
.navlink:visited {
    color: var(--text-color);
}
.navlink:hover, .active, .active:visited {
    color: var(--primary-color);
}

#logout {
    display: block;
    text-align: right;
    text-decoration: underline;
    font-size: .75em;
}

#style-modes {
    color: var(--text-color);
}
#style-modes i:hover {
    cursor: pointer;
}

/* copied from Ryan */

#uploadInfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#poster{
    width: 550px;
    min-width: 550px;
    height: 712px;;
    background-color: rgb(135, 139, 187);
}

form {
    width: 750px;
    min-width: 250px;
}

input, textarea {
    font-size: 1.1em;
    border: 2px solid var(--primary-color);
    margin-bottom: 25px;
}
input {
    display: block;
    width: 100%;
    height: 35px;
}
textarea {
    width: 100%;
    height: 100px;
}
label {
    display: block;
    width: 40%;
    min-width: 250px;
    color: var(--text-color);
}

#image-upload{
    background-color: var(--primary-color);
    width: 30%;
    color: white;
    font-size: 1.2em;
    width: 25%;
    height: 35px;
    max-width: 150px;
    min-width: 100px;
    border: none;
    margin-bottom: 25px;
}
#image-upload:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
}


#submit {
    display: block;
    width: 25%;
    max-width: 150px;
    min-width: 100px;
    margin: auto;
    height: 50px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 2em;
    font-weight: 100;
    font-family: 'Bariol Regular', sans-serif;
}
#submit:hover {
    cursor: pointer;
    background-color: var(--primary-hover);   
}

button, #submit, .navlink {
    transition: none;
}

